extends layout

block content

  h2 Study Sessions
  p Find study partners or browse available study sessions.

  .listings-container
    each listing in listings
      .listing-card

        img.profile(src="/images/userdefaultpic.jpg")

        h3= listing.title

        p
          strong Module:
          |  #{listing.module}

        p
          strong Location:
          |  #{listing.location}

        p
          strong Start time:
          |  #{listing.start_time}

        p
          strong Status:
          |  #{listing.status}

        button.join-btn Request to Join