extends layout

block content
  h2 Users

  if selectedDegree
    p
      strong Filtered by:
      |  #{selectedDegree}
    p
      a(href="/users") Show all users

  h3 Courses
  if degrees.length === 0
    p No courses available.
  else
    ul
      each d in degrees
        li
          a(href=`/users?degree=${encodeURIComponent(d.degree)}`)= d.degree

  hr

  h3 Students
  if users.length === 0
    p No users found.
  else
    ul
      each user in users
        li
          a(href=`/users/${user.user_id}`)= `${user.first_name} ${user.last_name} (${user.degree})`