extends layout

block content
  h1 Users

  form(action="/users" method="get")
    label Filter by degree:
    select(name="degree" onchange="this.form.submit()")
      option(value="") All
      option(value="Artificial Intelligence") Artificial Intelligence
      option(value="Business & Computing") Business & Computing
      option(value="Chemistry") Chemistry
      option(value="Computer Science") Computer Science
      option(value="Cybersecurity") Cybersecurity
      option(value="Digital Media") Digital Media
      option(value="Law") Law
      option(value="Psychology") Psychology

  if users && users.length
    .users-list
      each u in users
        .user-card
          h3 #{u.first_name} #{u.last_name}
          p.degree #{u.degree}
          - let buttonText = ''
          - let buttonLink = ''
          - let disabled = false
          if u.request_status === 'accepted'
            - buttonText = 'Chat'
            - buttonLink = `/messages/${u.user_id}`
          else if u.request_status === 'pending'
            - buttonText = 'Request Pending'
            - buttonLink = '#'
            - disabled = true
          else if u.request_status === 'declined'
            - buttonText = 'Request Declined'
            - buttonLink = '#'
            - disabled = true
          else
            - buttonText = 'Send Message Request'
            - buttonLink = `/messages/request/${u.user_id}`
          if disabled
            button(disabled)= buttonText
          else
            a.btn(href=buttonLink)= buttonText
  else
    p No users found.