extends ../layout

block content
  .container
    h1 Message Request
    p You are trying to message #{otherUser.first_name} #{otherUser.last_name} (#{otherUser.degree}).

    if requestStatus === 'pending'
      p Request already sent. Waiting for response.
    else if requestStatus === 'declined'
      p Your request was declined.
    else if requestStatus === 'accepted'
      p You can now message them!
        a(href=`/messages/${otherUser.user_id}`) Go to chat
    else
      p Since you are not in the same degree, you need to send a request.
      form(method="post" action=`/messages/request/${otherUser.user_id}`)
        button(type="submit") Send Message Request